@media #{$large-and-up} {
  // .home main {
  //   margin-top: 2rem;
  // }
}

main.container {
  margin: 2rem auto 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 85%;
}
@media #{$medium-and-up} {
  .container {
    width: 85%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 70%;
  }
}
.col .row {
  margin-left: (-1 * $gutter-width / 2);
  margin-right: (-1 * $gutter-width / 2);
}

.row {
  &.no-margin-bot {
    margin-bottom: 0;
  }
  &.block {
    margin-bottom: 0;
    padding: 5rem 0;
    &.workstreams {
      padding: 2rem 0;
    }
    &.social-cta {
      background: $primary-color;
      color: $neutral-light;
    }
    &.cta-wrapper {
      padding: 5rem 0 0 0;
    }
    &.latest-news {
      background: color('grey', 'lighten-4');
      //background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
      padding: 3rem 0;
    }
    &.statement {
      //background-color: #ff4747;
      color: color('grey', 'darken-4');
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: left 45%;
      background-size: cover;
      height: 80vh;
      padding: 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      position: relative;
      @media #{$medium-and-down} {
        background-position: left center;
        .offset-s6 {
          margin-left: 0;
          width: 100%;
        }
      }
      .heading-wrapper {
        position: absolute;
        bottom: 30%;
        right: 4rem;
        width: max-content;
        h1 {
          font-weight: 700;
          display: inline-block;
          border-radius: 3px;
          margin: 0; //initial;
          color: $neutral-light;

          @media #{$small-and-down} {
            font-size: 2.2rem;
          }

          &:after,
          &:before {
            content: '';
            position: absolute;
            width: 70%;
            height: 2px;
            border-radius: 30px;
            background: $accent-color;
          }
          &:after {
            bottom: -2.75rem;
            right: -1.25rem;
          }
          &:before {
            top: -1.25rem;
            left: -1.25rem;
          }
        }
        ul.statement-byline {
          position: absolute;
          margin: 0;
          display: flex;
          gap: 2rem;
          justify-content: space-between;
          bottom: -1.45rem;
          left: 0;
          padding: 0 0.5rem;
          color: $neutral-light;
          font-family: 'Gruppo';
          font-size: 1.48rem;
          @media #{$small-and-down} {
            font-size: 1.1rem;
          }
          li {
            list-style-type: disc;
            &:first-child {
              list-style-type: none;
            }
          }
        }
      }
    }
  }
}

// CTA block

h2.cta-header-text {
  @media #{$small-and-down} {
    font-size: 1.3rem;
  }
}

.cta-image {
  padding-bottom: 2rem;
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    @media #{$small-and-down} {
      width: 150px;
    }
  }
}

.cta-action {
  margin-block-end: 0;
}

.section,
.row .col {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.no-pad {
    padding: 0;
  }
  &.no-pad-bot {
    padding-bottom: 0;
  }
  &.no-pad-top {
    padding-top: 0;
  }
}

// Built-in block styles

.wp-block-cover {
  margin-bottom: 2rem;
}

.wp-block-separator {
  margin: 2rem auto;
  width: 70%;
}

// Single / Singular styles

.article-header,
.archive-header {
  padding: 2rem 0 1rem 0;
  @media #{$small-and-down} {
    padding: 0rem 0 1rem 0;
  }
}

.single-library .article-header h1 {
  text-decoration: none;
}

.publication-desc {
  background: color('grey', 'lighten-5');
  padding: 0.25rem 1.25rem;
  border-radius: 3px;
}

.archive-desc {
  padding-bottom: 2rem;
}

.search-header {
  padding: 0;
}

// Archive projects grid

.entry-content.archive-workshops,
.entry-content.archive-post,
.entry-content.archive-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  article {
    display: flex;
  }
  @media #{$small-and-down} {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }
}

// Workstreams grid

.block.workstreams .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 0 0 5rem 0;
  article {
    display: flex;
  }
  h2 {
    grid-column: 1/-1;
  }
  @media #{$medium-and-down} {
    grid-template-columns: 1fr 1fr;
  }
  @media #{$small-and-down} {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }
}

.page-template-page-about .feat-pages.block .container {
  width: 100%;
}

// Library block

.row.block.library-latest {
  padding: 5rem 0 0 0;
  .library-list {
    padding-top: 1rem;
  }
}
//Asides

// aside h2, .related-info-block h2 {
//   border-bottom: 3px solid $accent-color;
// }

//Footer

:not(.home) > footer.page-footer {
  margin-top: 2rem;
}

// Twitter feed

#ctf {
  margin: auto;
  padding: 2rem 0;
}

.ctf-out-of-tweets .twitter-share-button,
.ctf-out-of-tweets .twitter-follow-button {
  display: none !important;
}

// Lists

ul#contact {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  list-style-type: none;
  li {
    padding: 0 1.5rem;
    a {
      &:hover,
      &:focus {
        color: $link-hover-color;
        svg {
          fill: $link-hover-color;
        }
      }
    }
  }
}

// Byline / tags

span.byline,
span.library-tags {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
  a {
    padding-left: 0.5rem;
    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }

  svg {
    fill: $off-black;
  }
}

span.byline svg {
  margin-right: 0.5rem;
}

// Share links

ul.share-links.center.columns {
  display: flex;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  margin-top: 0;
  li {
    padding: 0.25rem 1rem 0.25rem 0;
    a {
      &:hover,
      &:focus {
        color: $link-hover-color;
        svg.icon {
          fill: $accent-color;
          background: transparent;
        }
      }
      svg.icon {
        background: $accent-color;
        color: white;
        border: 1px solid $accent-color;
        display: inline-block;
        height: 2rem;
        width: 2rem;
        padding: 0.5rem;
        margin: 0;
        border-radius: 50%;
      }
    }
  }
}

// Mixins to eliminate code repitition
@mixin reset-offset {
  margin-left: auto;
  left: auto;
  right: auto;
}
@mixin grid-classes($size, $i, $perc) {
  &.offset-#{$size}#{$i} {
    margin-left: $perc;
  }
  &.pull-#{$size}#{$i} {
    right: $perc;
  }
  &.push-#{$size}#{$i} {
    left: $perc;
  }
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  // Clear floating children
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .col {
    float: left;
    box-sizing: border-box;
    padding: 0 $gutter-width / 2;
    min-height: 1px;

    &[class*='push-'],
    &[class*='pull-'] {
      position: relative;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + '%');
      &.s#{$i} {
        width: $perc;
        @include reset-offset;
      }
      $i: $i + 1;
    }

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + '%');
      @include grid-classes('s', $i, $perc);
      $i: $i + 1;
    }

    @media #{$medium-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + '%');
        &.m#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + '%');
        @include grid-classes('m', $i, $perc);
        $i: $i + 1;
      }
    }

    @media #{$large-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + '%');
        &.l#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + '%');
        @include grid-classes('l', $i, $perc);
        $i: $i + 1;
      }
    }

    @media #{$extra-large-and-up} {
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + '%');
        &.xl#{$i} {
          width: $perc;
          @include reset-offset;
        }
        $i: $i + 1;
      }

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + '%');
        @include grid-classes('xl', $i, $perc);
        $i: $i + 1;
      }
    }
  }
}
